<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer-center</title>
    <link href="/css/searchiconfont.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/lamu.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 header">
                <table style="margin-top: 10px">
                    <thead>
                    <td class="td_logo col-sm-1"><a href="#"></a></td>
                    <td class="td_index  col-sm-2"><a href="/views/index.html" class="text-center  center-block"><p>
                        首&nbsp;&nbsp;页</p></a></td>
                    <td class="td_index  col-sm-2"><a href="/views/front/productionList.html"
                                                      class="text-center  center-block"><p>中大辣木</p></a></td>
                    <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>促销活动</p></a></td>
                    <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>关于我们</p></a></td>
                    <td class="td_index  col-sm-2"><a href="#" id="customer-center"><p>个人中心</p></a></td>
                    <td class="td_search col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                Go!
                            </button>
                        </span>
                        </div>
                    </td>
                    </thead>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="panel-group  col-sm-12" id="accordion">
                <div class="panel panel-default col-sm-12">
                    <div class="panel-heading  col-sm-3">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                我的资料
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse col-sm-9">
                        <div class="panel-body">
                            <form class="form-horizontal" role="form">
                                <div class="input-group">
                                    <span class="input-group-addon">姓&nbsp;&nbsp;&nbsp;名</span>
                                    <input type="text" class="form-control disabled" id="text-name">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">邮&nbsp;&nbsp;&nbsp;箱</span>
                                    <input type="text" class="form-control disabled" id="text-email">
                                    <span class="input-group-addon btn-success active">修改</span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">地&nbsp;&nbsp;&nbsp;址</span>
                                    <input type="text" class="form-control disabled" id="text-addr">
                                    <span class="input-group-addon btn-success active">修改</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-sm-12">
                    <div class="panel-heading  col-sm-3">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapse2">
                                我的评论
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse col-sm-9">
                        <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default col-sm-12">
                    <div class="panel-heading  col-sm-3">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapse3">
                                我的订单
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse col-sm-9">
                        <div class="panel-body">
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                            cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                            vice lomo.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>