<!DOCTYPE html>
<html>
<head lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <title></title>
</head>
<link href="/css/searchiconfont.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/css/lamu.css" rel="stylesheet" type="text/css"/>
<style type="text/css">


</style>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
<body>
<div class="container">
    <div class="col-sm-12 header">
        <table class="col-sm-12">
            <thead>
            <td class="td_logo col-sm-1"><a href="#"></a></td>
            <td class="td_index  col-sm-2"><a href="/views/index.html" class="text-center  center-block"><p>
                首&nbsp;&nbsp;页</p></a></td>
            <td class="td_index  col-sm-2"><a href="/views/front/productionList.html"
                                              class="text-center  center-block"><p>中大辣木</p></a></td>
            <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>促销活动</p></a></td>
            <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>关于我们</p></a></td>
            <td class="td_index  col-sm-2"><a href="#"><p>个人中心</p></a></td>
            <td class="td_search col-sm-2">
                <div class="row">
                    <input type="text" id="search" placeholder="请输入关键词">
                    <a href="#" id="search_button" class="iconfont">&#x3432;</a>
                </div>
            </td>
            </thead>
        </table>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12"
                 style="height: 40px;background-color: #4cae4c;line-height: 40px; box-shadow: 0px 2px 8px rgba(230, 230, 230, 0.75);">
                商品筛选
            </div>
            <div class="col-md-12">
                <div class="kind">
                    <h4 style="line-height: 25px;color: #64A131">类别：</h4>
                    <ul class="list-unstyled">
                        <li><a href="#"><span>全部</span></a></li>
                        <li><a href="#"><span>辣木籽</span></a></li>
                        <li><a href="#"><span>辣木茶</span></a></li>
                        <li><a href="#"><span>含&nbsp;&nbsp;片</span></a></li>
                    </ul>
                </div>
                <div class="kind">
                    <h4 style="line-height: 25px;color: #64A131">单位：</h4>
                    <ul class="list-unstyled">
                        <li><a href="#"><span>全部</span></a></li>
                        <li><a href="#"><span>35kg</span></a></li>
                        <li><a href="#"><span>55kg</span></a></li>
                        <li><a href="#"><span>瓶装</span></a></li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="pagination list-unstyled">
                        <li class="disabled"><a href="#"><span>排序</span></a></li>
                        <li><a href="#"><span>价格</span></a></li>
                        <li><a href="#"><span>折扣</span></a></li>
                        <li><a href="#"><span>销量</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row lamus">
        <div class="col-sm-12">
            <ul class="list-unstyled list-inline">
                <li class="col-sm-3 center-block">
                    <a href="#" style="background-image: url(/images/fruit1.jpg)" class="lamu_pic"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
                <li class="col-sm-3 center-block"><a href="#" style="background-image: url(/images/fruit2.jpg)"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
                <li class="col-sm-3 center-block"><a href="#" style="background-image: url(/images/fruit3.jpg)"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price ">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
                <li class="col-sm-3 center-block"><a href="#" style="background-image: url(/images/fruit1.jpg)"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row lamus">
        <div class="col-sm-12">
            <ul class="list-unstyled list-inline">
                <li class="col-sm-3 center-block">
                    <a href="#" style="background-image: url(/images/fruit1.jpg)" class="lamu_pic"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
                <li class="col-sm-3 center-block"><a href="#" style="background-image: url(/images/fruit2.jpg)"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
                <li class="col-sm-3 center-block"><a href="#" style="background-image: url(/images/fruit3.jpg)"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price ">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
                <li class="col-sm-3 center-block"><a href="#" style="background-image: url(/images/fruit1.jpg)"></a>

                    <p class="sale_name">魅力云南精品辣木</p>

                    <p class="sale_price">￥15/斤</p><a href="#" class="sale_shop">加入购物车</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div style="margin-left: auto;margin-right: auto ;text-align: center">
            <ul class="pagination list-unstyled">
                <li><a>上一页</a></li>
                <li><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
                <li><a>5</a></li>
                <li><a>下一页</a></li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 32px;">
        <div class="col-md-12">

            <div class="col-md-6">
                <img src="/images/rexian.png" style="width: 20px;height: 20px;float: left">
                <p style="float: left">
                    热线：400-720-0770
                </p>
            </div>
            <div class="col-md-6" style=" padding-top: 20px">
                <small> Copyright © 2015-2016 hnzdlm 中大辣木 版权所有 Power by songliang Design By：宋亮</small>
            </div>


        </div>
    </div>
</div>


</body>
</html>