<!DOCTYPE html>
<html>
<head lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <title></title>
</head>
<link href="/css/searchiconfont.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/css/lamu.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .normal-pic {
        width: 100%;
        height: 320px;
        float: left;
        border: 1px solid red;
    }

    .mini-pic {
        width: 25%;
        height: 40px;
        float: left;
        border: 1px solid saddlebrown;
    }

    .base-info .row {
        height: 60px;
        border: solid 1px grey;
    }

</style>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<body>
<div class="container" data-order="aaaa">
    <div class="row">
        <div class="col-sm-12 header">
            <table class="col-sm-12">
                <thead>
                <td class="td_logo col-sm-1"><a href="#"></a></td>
                <td class="td_index  col-sm-2"><a href="/views/index.html" class="text-center  center-block"><p>
                    首&nbsp;&nbsp;页</p></a></td>
                <td class="td_index  col-sm-2"><a href="/views/front/productionList.html"
                                                  class="text-center  center-block"><p>中大辣木</p></a></td>
                <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>促销活动</p></a></td>
                <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>关于我们</p></a></td>
                <td class="td_index  col-sm-2"><a href="#"><p>个人中心</p></a></td>
                <td class="td_search col-sm-2">
                    <div class="row">
                        <input type="text" id="search" placeholder="请输入关键词">
                        <a href="#" id="search_button" class="iconfont">&#x3432;</a>
                    </div>
                </td>
                </thead>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 short-info">
            <div class="normal-pic"></div>
            <div class="mini-pic"></div>
            <div class="mini-pic"></div>
            <div class="mini-pic"></div>
            <div class="mini-pic"></div>
        </div>
        <div class="col-sm-6 base-info">
            <div class="row lamu-name"></div>
            <div class="row lamu-description"></div>
            <div class="row lamu-price"></div>
            <div class="row lamu-discount"></div>
            <div class="row lamu-nums"></div>
            <div class="row lamu-total-amount"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        菜鸟教程
                    </a>
                </li>
                <li><a href="#ios" data-toggle="tab">iOS</a></li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle"
                       data-toggle="dropdown">Java
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                        <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                        <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                    </ul>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <p>菜鸟教程是一个提供最新的web技术站点，本站免费提供了建站相关的技术文档，帮助广大web技术爱好者快速入门并建立自己的网站。菜鸟先飞早入行——学的不仅是技术，更是梦想。</p>
                </div>
                <div class="tab-pane fade" id="ios">
                    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                </div>
                <div class="tab-pane fade" id="jmeter">
                    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>
                </div>
                <div class="tab-pane fade" id="ejb">
                    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    })
</script>
</body>

</html>