* {
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

a {
    text-decoration: none;
    color: gray;
    width: auto;
    text-align: center;
    padding: 10px;

}

.td_logo {
    background-image: url("../images/logo.png");
    width: auto;
    height: 40px;
    background-repeat: no-repeat;
}

.td_logo :hover {
    background: none;
}

a:hover {
    text-decoration: none;
}


#search_button:hover {
    background: none;
}

.lamus.row li > :first-child {

    display: inline-block;
    width: 100%;
    height: 280px;
}

.lamus ul li {
    box-shadow: 2px 10px 50px rgba(230, 230, 230, 0.75);
    margin-bottom: 12px;
}

.images li {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    /* overflow: hidden;*/
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    height: 100%;
    width: 100%;
}

.images li a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-size: contain;
}

.images li.active {
    opacity: 1;
}

.controller {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;

}

.controller li {
    display: inherit;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 13px;
    line-height: 26px;
    color: #CACACA;
    display: inline-block;
    border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    text-align: center;
}

.controller li.active {
    background-color: cornflowerblue;
    opacity: 1;
}

.title {
    position: absolute;
    top: 30%;
    width: 100%;
    left: 0;
}

.title li {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #CACACA;
    color: #FFFFFF;
    width: 300px;
    border-radius: 25px;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out
}

.title li.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.content {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: block;

}

.content .content_header {
    border-top: 1px solid #CACACA;
    width: 100%;
    height: 50px;

}

.content_title {
    float: left;
    height: 100%;
    width: 80px;

}

.content_title span {
    height: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
    /* background-color: #E1E1E1;*/
    font-size: medium;
    font-weight: 400;
    color: #818181;
    line-height: 57px;
}

.content_more {
    float: right;
    height: 100%;
    width: 80px;
    text-align: center;
}

.content_more span {
    height: 100%;
    width: 100%;
}

.content_more span a {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #818181;
    font-weight: 400;
}

.content_more span a:hover {
    background: none;
}

.content_main {
    width: 100%;
    height: 600px;
}

.content_main ul {
    list-style: none;
}

.content_main ul li {
    padding: 0;
    float: left;
    display: inline-block;
    width: 260px;
    height: 420px;

    margin-right: 8px;
}

.sale {
    display: block;
    height: 300px;
    background-size: cover;

}

.sale_name {
    float: left;
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 30px;
    font-size: 14px;
}

.sale_price {
    margin: 0;
    float: left;
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 15px;
    font-size: 14px;
    color: #F45B4B;
}

.sale_shop {
    display: block;
    margin: 0;
    float: left;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #64A131;
    border-radius: 4px;
}

.sale_shop:hover {
    background-color: green;
}

.rexian {
    margin-left: 200px;
}

.td_name {
    width: 40%;
    background-color: #d4d4d4;
}

.td_value {
    width: 60%;
}


.kind {
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    height: 50px;

}

.sale_shop {
    box-shadow: 0px 2px 8px rgba(230, 230, 230, 0.75);
}
.sale_shop:hover{
    color: #ffffff;
}

.header {
    box-shadow: 0px 2px 8px rgba(230, 230, 230, 0.75);
    border-bottom: 1px solid #F1F1F1;
    height: 100px;
}

.header a {
    display: inline-block;
    border-radius: 4px;
    border: #eee;

}

.header a:hover {
    display: inline-block;
    background-color: #eee;
    cursor: pointer;
    color: green;

    text-decoration: none;
}

.kind h4 {
    display: inline-block;
    float: left;
}

.kind ul {
    line-height: 43px;
}

.kind ul li {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.header {
    box-shadow: 0px 2px 8px rgba(230, 230, 230, 0.75);
    border-bottom: 1px solid #F1F1F1;
    height: 100px;
}

li a {
    height: 40px;
    cursor: pointer;
}


.pubu:after {
    clear: both;
}

.pubu {
    width: 100%;
}

.change {

    z-index: 1000;

}

.a_active {
    display: block;
    background-color: #eee;
    color: green;
}

.normal-pic {
    width: 100%;
    height: 320px;
    float: left;
    border: 1px solid red;
}

.mini-pic {
    width: 25%;
    height: 40px;
    float: left;
    border: 1px solid saddlebrown;
}

.base-info .row {
    height: 60px;
}

.price-info {
    width: 424px;
    font: 24px/100% "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #64a131;
    font-weight: bold;
    margin-left: 10px;
    line-height: 46px;

}

span.num {
    width: 28px;
    height: 22px;
    background-color: #eeeeee;
    color: #a6a6a6;
    text-align: center;
    ine-height: 21.3px;
    font-size: 14px;
    cursor: pointer;
}

.lamu-nums input {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    width: 35px;
    height: 22px;
    border: 0px;
    text-align: center;
    line-height: 24px;
    padding: 0px;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px system-ui;
}

.lamu-nums {
    height: 24px;
    border: 1px solid #dddddd;
    border-radius: 1px;
    width: 93px;
    margin-top: 10px;
    margin-left: 10px;
}

.fr-right {
    margin-left: 70px;
    /* color: #7daf57; */
    /* background: #f5ffed; */
    margin-right: 20px;
}

.fr-right a {
    color: #7daf57;
    background: #f5ffed;
    border: 1px solid #64a131;
}

.fr-left a {
    color: #eff4ec;
    background: #64a131;
}

.fr-left a:hover {
    color: #eff4ec;
}

.fr-right a:hover {
    color: #7daf57;
}

.lamu-total-amount {
    padding: 15px;
}

.row h5 {
    margin-right: 5px;
    font: 14px/200% 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    color: #999999;
    width: 60px;
}

.base-info {
    padding-left: 30px;
    box-shadow: 0px 2px 8px rgba(230, 230, 230, 0.75);
    border-bottom: 1px solid #F1F1F1;
}

.production-info {
    width: 100%;
    height: auto;
}
.production-info img{
    width: inherit;
    height: inherit;
}

#comment ol {
    width: 100%;
    height: auto;
}

#comments ol li {
    list-style: none;
    display: inline-block;
    width: 100%;
    height: 100px;
    border: 1px solid gainsboro;
    float: left;
    margin: 10px;
}

.num:hover {
    background: #7daf57;;
    color: whitesmoke;
}

.comment div {
    height: 30%;
    border: 1px solid gainsboro;
}

.comment-user {
    width: 20%;
}

.comment-date {
    width: 20%;
    float: right;
}

#comments {
    text-align: center;
}

.pagination span:hover {
    cursor: pointer;
}

.pagination > li > a, .pagination > li > span {
    color: green;
}

.form-control:focus {
    border-color: green;
}
.base-info,.short-info{
    height: 360px;
}
.info-pics{
    height: 360px;
}
.info-pics img{
    width: 100%;
}