<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
    li {
        margin-right: 18px;
    }

    td a {
        margin-right: 20px;
    }
</style>
<body style="min-width: 1300px">
<div class=" col-sm-12 page-header" style="text-align: center">

    <ul class="nav nav-pills" style="margin-left: auto; margin-right: auto">
        <li style="margin-left: 35%;"><a href="/views/index.html">首页</a></li>
        <li class="dropdown" class="active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">轮播图<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/views/galleryUpload.html">轮播图上传</a></li>
                <li class="divider"></li>
                <li><a href="/views/galleryList.html">轮播图列表</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">辣木<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/views/productionUpload.html">辣木上传</a></li>
                <li class="divider"></li>
                <li><a href="/views/lamuList.html">辣木列表</a></li>
            </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">订单<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/views/galleryUpload.html">订单列表</a></li>
            </ul>
        </li>
        <li><a>用户</a></li>
        <li><a>评论</a></li>
        <li><a>公告</a></li>
    </ul>

</div>
<div class="col-sm-12">
    <table class="table table-responsive table-striped table-bordered">
        <thead>
        <tr>
            <th>文件名</th>
            <th>保存路径</th>
            <th>上传日期</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="galleryData">

        </tbody>
    </table>
</div>
<div class="col-sm-12" style="text-align: center">
    <ul class="pagination">
    </ul>
</div>
<script type="text/javascript">
    var o_curPage;
    $(document).ready(function () {
        $.ajax({
            url: "/gallery/list",
            data: {currentPage: 1},
            dataType: "JSON",
            type: "GET",
            success: function (data) {
                var o_json = JSON.parse(data);
                console.log(o_json);
                if (o_json.replyCode == 0) {
                    alert(o_json.replyInfo);
                } else {
                    var replyInfo = JSON.parse(o_json.replyInfo);
                    console.log(replyInfo);
                    var oo_data = replyInfo.data;
                    o_curPage = replyInfo.currentPage;
                    var o_toPage = replyInfo.toPage;
                    for (var i = 0; i < oo_data.length; i++) {
                        if (oo_data[i].recommand == 0) {
                            $("#galleryData").append(
                                "<tr>" +
                                "<td>" + oo_data[i].name + "</td>" +
                                "<td>" + oo_data[i].path + "</td>" +
                                "<td>" + convertDate(oo_data[i].date) + "</td>" +
                                "<td>" +
                                "<a href=galleryInfo.html?id=" + oo_data[i].uuid + ">预览</a>" +
                                "<a  onclick='recommand(this)' class='addRecommand' href='#' data-id=" + oo_data[i].uuid + ">加入推荐</a>" +
                                "<a href=# onclick='deleteGallery(this)' data-id=" + oo_data[i].uuid + ">删除</a>" +
                                "</td>" +
                                "</tr>"
                            )
                        } else {
                            $("#galleryData").append(
                                "<tr>" +
                                "<td>" + oo_data[i].name + "</td>" +
                                "<td>" + oo_data[i].path + "</td>" +
                                "<td>" + convertDate(oo_data[i].date) + "</td>" +
                                "<td>" +
                                "<a href=galleryInfo.html?id=" + oo_data[i].uuid + ">预览</a>" +
                                "<a  onclick='recommand(this)' class='removeRecommand' href='#' data-id=" + oo_data[i].uuid + ">取消推荐</a>" +
                                "<a href=# onclick='deleteGallery(this)' data-id=" + oo_data[i].uuid + ">删除</a>" +
                                "</td>" +
                                "</tr>"
                            )
                        }

                    }
                    $(".pagination").append(
                        "<li><a  onclick='getGallery(o_curPage-1)' href='#'>&laquo;</a></li>"
                    )
                    for (var i = o_curPage; i <= o_toPage; i++) {
                        $(".pagination").append(
                            "<li><a onclick='getGallery($(this).html())'>" + i + "</a></li>"
                        )
                    }
                    $(".pagination").append(
                        "<li><a onclick='getGallery(o_curPage+1)' href='#'>&raquo;</a></li>"
                    )
                }
            }

        })
    })
    //转化日期
    function convertDate(time) {
        var date = new Date(time);
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        return year + "-" + month + "-" + day;
    }
    function getGallery(currentPage) {
        $.ajax({
            url: "/gallery/list",
            data: {currentPage: currentPage},
            dataType: "JSON",
            type: "GET",
            success: function (data) {
                var o_json = JSON.parse(data);
                console.log(o_json);
                if (o_json.replyCode == 0) {
                    alert(o_json.replyInfo);
                } else {
                    //先清除之前的dom
                    //删除已经存在的行
                    $("#galleryData").find("tr").each(function () {
                        $(this).remove();
                    });
                    $(".pagination").find("li").each(function () {
                        $(this).remove();
                    })
                    var replyInfo = JSON.parse(o_json.replyInfo);
                    console.log(replyInfo);
                    var oo_data = replyInfo.data;
                    o_curPage = replyInfo.currentPage;
                    var o_toPage = replyInfo.toPage;
                    for (var i = 0; i < oo_data.length; i++) {
                        if (oo_data[i].recommand == 0) {
                            $("#galleryData").append(
                                "<tr>" +
                                "<td>" + oo_data[i].name + "</td>" +
                                "<td>" + oo_data[i].path + "</td>" +
                                "<td>" + convertDate(oo_data[i].date) + "</td>" +
                                "<td>" +
                                "<a href=galleryInfo.html?id=" + oo_data[i].uuid + ">预览</a>" +
                                "<a  onclick='recommand(this)' class='addRecommand' href='#' data-id=" + oo_data[i].uuid + ">加入推荐</a>" +
                                "<a href=# onclick='deleteGallery(this)' data-id=" + oo_data[i].uuid + ">删除</a>" +
                                "</td>" +
                                "</tr>"
                            )
                        } else {
                            $("#galleryData").append(
                                "<tr>" +
                                "<td>" + oo_data[i].name + "</td>" +
                                "<td>" + oo_data[i].path + "</td>" +
                                "<td>" + convertDate(oo_data[i].date) + "</td>" +
                                "<td>" +
                                "<a href=galleryInfo.html?id=" + oo_data[i].uuid + ">预览</a>" +
                                "<a  onclick='recommand(this)' class='removeRecommand' href='#' data-id=" + oo_data[i].uuid + ">取消推荐</a>" +
                                "<a href=# onclick='deleteGallery(this)' data-id=" + oo_data[i].uuid + ">删除</a>" +
                                "</td>" +
                                "</tr>"
                            )
                        }

                    }
                    $(".pagination").append(
                        "<li><a  onclick='getGallery(o_curPage-1)' href='#'>&laquo;</a></li>"
                    )

                    for (var m = o_curPage; m <= o_toPage; m++) {
                        $(".pagination").append(
                            "<li><a onclick='getGallery($(this).html())'>" + m + "</a></li>"
                        )
                    }
                    $(".pagination").append(
                        "<li><a onclick='getGallery(o_curPage+1)' href='#'>&raquo;</a></li>"
                    )

                }
            }

        })
    }
    function deleteGallery(e) {
        if (confirm("确认要删除么？")) {
            var controller = "/gallery/delete";
            var id = $(e).attr("data-id");
            $.ajax({
                url: controller,
                data: {id: id},
                dataType: "JSON",
                type: "POST",
                success: function (data) {
                    var o_json = JSON.parse(data);
                    alert(o_json.replyInfo);
                    window.location.reload();
                }
            })
        }

    }
    function recommand(e) {
        var controller;
        var id = $(e).attr("data-id");
        if ($(e).attr("class") == "addRecommand") {
            controller = "/gallery/addRecommand";
        } else {
            controller = "/gallery/removeRecommand";
        }
        $.ajax({
            url: controller,
            data: {id: id},
            dataType: "JSON",
            type: "POST",
            success: function (data) {
                var o_json = JSON.parse(data);
                if (o_json.replyCode == 0) {
                    alert(o_json.replyInfo);
                } else {
                    if ($(e).attr("class") == "addRecommand") {
                        $(e).attr("class", "removeRecommand");
                        $(e).html("取消推荐");
                    } else {
                        $(e).attr("class", "addRecommand");
                        $(e).html("加入推荐");
                    }
                }

            }
        })
    }

</script>
</body>
</html>