<!DOCTYPE html>
<html>
<head lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <title></title>
</head>
<link href="/css/searchiconfont.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/css/lamu.css" rel="stylesheet" type="text/css"/>
<style type="text/css">

</style>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".my-modal").load("views/login_form.html")
        $.ajax({
            url: "/gallery/list",
            data: {currentPage: 1},
            dataType: "json",
            type: "get",
            success: function (result, status) {
                var pageInfo = result;
                var list = pageInfo.list;
                for (var gallery in  list) {
                    $(".carousel-inner").append(
                        "<div class='item'><img src=" + list[gallery].path + "></div>"
                    )
                }
                $(".carousel-inner :first-child").addClass("active");
            }
        });
        $.ajax({
                url: "/lamu/listEight",
                data: null,
                dataType: "json",
                type: "get",
                success: function (result, status) {
                    var lamus = result.list;
                    for (i in lamus) {
                        var model = lamus[i].model;
                        var pic = lamus[i].picModelList[0].picAddr;
                        var uuid = model.uuid;
                        var name = model.name;
                        var price = model.price;
                        var unit = model.unit;
                        $("#firstLamu").append(
                            '<li class="col-sm-3 center-block">' +
                            '                    <a href="#" style="background-image: url(' + pic + ')" class="lamu_pic"></a>' +
                            '                    <p class="sale_name">' + name + '</p>' +
                            '                    <p class="sale_price">￥' + price + '/' + unit + '</p><a href="#" class="sale_shop">加入购物车</a>' +
                            '                </li>'
                        );
                    }
                }
        });
        $("#customer-center").click(function () {
            var cookie_user = $.cookie('user');

            if (cookie_user == null) {
                $("#login-modal").modal();
            } else {
                //TODO 跳转到个人中心
                var user = JSON.parse(cookie_user);
                alert("您已经登录：" + user.name);
            }

        });
    })
</script>
<body>
<div class="container">
    <div class="col-sm-12 header">
        <table style="margin-top: 10px">
            <thead>
            <td class="td_logo col-sm-1"><a href="#"></a></td>
            <td class="td_index  col-sm-2"><a href="/views/index.html" class="text-center  center-block"><p>
                首&nbsp;&nbsp;页</p></a></td>
            <td class="td_index  col-sm-2"><a href="/views/front/productionList.html"
                                              class="text-center  center-block"><p>中大辣木</p></a></td>
            <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>促销活动</p></a></td>
            <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>关于我们</p></a></td>
            <td class="td_index  col-sm-2"><a href="#" id="customer-center"><p>个人中心</p></a></td>
            <td class="td_search col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
							Go!
						</button>
                    </span>
                </div>
            </td>
            </thead>
        </table>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;
                </a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div class="col-sm-6">
                <div class="content_title"><span style="color: green">辣木新品</span></div>
            </div>
            <div class="col-sm-6">
                <div class="content_more"><span><a href="#" style="color: green">More...</a></span></div>
            </div>
        </div>
    </div>
    <div class="row lamus">
        <div class="col-sm-12">
            <ul class="list-unstyled list-inline" id="firstLamu">

            </ul>
        </div>
    </div>
    <!--<div class="row" style="margin-top: 32px;">
        <div class="col-md-12">

            <div class="col-md-6">
                <img src="/images/rexian.png" style="width: 20px;height: 20px;float: left">
                <p style="float: left">
                    热线：400-720-0770
                </p>
            </div>
            <div class="col-md-6" style=" padding-top: 20px">
                <small> Copyright © 2015-2016 hnzdlm 中大辣木 版权所有 Power by songliang Design By：宋亮</small>
            </div>


        </div>
    </div>-->
    <div class="my-modal"></div>
</div>

</body>


</html>
