<!DOCTYPE html>
<html>
<head lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <title></title>
</head>
<link href="/css/searchiconfont.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/css/lamu.css" rel="stylesheet" type="text/css"/>
<style type="text/css">


</style>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
<body>
<div class="container" data-order="aaaa">
    <div class="row">
        <div class="col-sm-12 header">
            <table style="margin-top: 10px">
                <thead>
                <td class="td_logo col-sm-1"><a href="#"></a></td>
                <td class="td_index  col-sm-2"><a href="/views/index.html" class="text-center  center-block"><p>
                    首&nbsp;&nbsp;页</p></a></td>
                <td class="td_index  col-sm-2"><a href="/views/production_list.html"
                                                  class="text-center  center-block"><p>中大辣木</p></a></td>
                <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>促销活动</p></a></td>
                <td class="td_index  col-sm-2"><a href="#" class="text-center  center-block"><p>关于我们</p></a></td>
                <td class="td_index  col-sm-2"><a href="#"><p>个人中心</p></a></td>
                <td class="td_search col-sm-3">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
							Go!
						</button>
                    </span>
                    </div>
                </td>
                </thead>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12"
                 style="height: 40px;background-color: #4cae4c;line-height: 40px; box-shadow: 0px 2px 8px rgba(230, 230, 230, 0.75);">
                商品筛选
            </div>
            <div class="col-md-12">
                <div class="kind">
                    <h4 style="line-height: 25px;color: #64A131">类别：</h4>
                    <ul class="list-unstyled" id="category">
                        <li><a href="#"><span>全部</span></a></li>
                        <li data-cate="辣木籽"><a href="#"><span>辣木籽</span></a></li>
                        <li data-cate="辣木茶"><a href="#"><span>辣木茶</span></a></li>
                        <li data-cate="含片"><a href="#"><span>含&nbsp;&nbsp;片</span></a></li>
                    </ul>
                </div>
                <div class="kind">
                    <h4 style="line-height: 25px;color: #64A131">单位：</h4>
                    <ul class="list-unstyled" id="unit">
                        <li><a href="#"><span>全部</span></a></li>
                        <li data-unit="35kg"><a href="#"><span>35kg</span></a></li>
                        <li data-unit="55kg"><a href="#"><span>55kg</span></a></li>
                        <li data-unit="瓶装"><a href="#"><span>瓶装</span></a></li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="pagination list-unstyled" id="order_by">
                        <li class="disabled"><a href="#"><span>排序</span></a></li>
                        <li data-order="price asc"><a href="#"><span>价格↑</span></a></li>
                        <li data-order="price desc"><a href="#"><span>价格↓</span></a></li>
                        <li data-order="discount asc"><a href="#"><span>折扣↑</span></a></li>
                        <li data-order="discount desc"><a href="#"><span>折扣↓</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row lamus">
        <div class="col-sm-12">
            <ul class="list-unstyled list-inline">

            </ul>
        </div>
    </div>
    <div class="row">
        <div style="margin-left: auto;margin-right: auto ;text-align: center">
            <ul class="pagination list-unstyled" id="page">

            </ul>
        </div>
    </div>
    <!--<div class="row" style="margin-top: 32px;">
        <div class="col-md-12">

            <div class="col-md-6">
                <img src="/images/rexian.png" style="width: 20px;height: 20px;float: left">
                <p style="float: left">
                    热线：400-720-0770
                </p>
            </div>
            <div class="col-md-6" style=" padding-top: 20px">
                <small> Copyright © 2015-2016 hnzdlm 中大辣木 版权所有 Power by songliang Design By：宋亮</small>
            </div>


        </div>
    </div>-->
</div>


</body>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/lamu/page",
            data: {orderby: "create_time desc", curPage: 1, pageSize: 8},
            dataType: "json",
            type: "post",
            success: function (result, status) {
                var pageInfo = result;
                var list = result.list;
                for (i in list) {
                    var model = list[i].model;
                    var uuid = model.uuid;
                    var unit = model.unit;
                    var name = model.name;
                    var price = model.price;
                    var discount = model.discount;
                    var pic = list[i].picModelList[0].picAddr;
                    $(".lamus ul").append(' <li class="col-sm-3 center-block">' +
                        '                    <a href="#" style="background-image: url(' + pic + ')" class="lamu_pic"></a>' +
                        '                    <p class="sale_name">' + name + '</p>' +
                        '                    <p class="sale_price">￥' + price + '/' + unit + '</p><a href="#" class="sale_shop">加入购物车</a>' +
                        '                </li>')
                }
                var pages = result.navigatepageNums;
                for (i in pages) {
                    $("#page").append('<li data-page=' + pages[i] + '><a>' + pages[i] + '</a></li>')
                }
            }
        });
        $("#page li").bind("click", function (event) {
            var cur_page = $(this).data(page);
            if (cur_page == null) {
                cur_page = 1;
            }
            search(cur_page);
        });
        $(".kind ul li").bind("click", function (event) {
            $(this).addClass("a_active");
            $(this).siblings().removeClass("a_active")
            search();
        });
        $("#order_by li").bind("click", function (event) {
            $(this).addClass("a_active");
            $(this).siblings().removeClass("a_active")
            search();
        });


    })
    function search(curPage) {
        var order = $(".container").data("order")
        var cate = $("#category li.a_active").data("cate");
        var unit = $("#unit li.a_active").data("unit");
        var orderBy = $("#order_by li.a_active").data("order");
        if (curPage == null) {
            curPage = 1;
        }
        $.ajax({
            url: "/lamu/page",
            data: {orderBy: orderBy, curPage: curPage, pageSize: 8, category: cate, unit: unit},
            dataType: "json",
            type: "post",
            success: function (result, status) {
                var pageInfo = result;
                var list = result.list;
                $(".lamus li").remove();
                for (i in list) {
                    var model = list[i].model;
                    var uuid = model.uuid;
                    var unit = model.unit;
                    var name = model.name;
                    var price = model.price;
                    var discount = model.discount;
                    var pic = list[i].picModelList[0].picAddr;
                    $(".lamus ul").append(' <li class="col-sm-3 center-block">' +
                        '                    <a href="#" style="background-image: url(' + pic + ')" class="lamu_pic"></a>' +
                        '                    <p class="sale_name">' + name + '</p>' +
                        '                    <p class="sale_price">￥' + price + '/' + unit + '</p><a href="#" class="sale_shop">加入购物车</a>' +
                        '                </li>')
                }
                var pages = result.navigatepageNums;
                $("#page li").remove();
                for (i in pages) {
                    $("#page").append('<li data-page=' + pages[i] + '><a>' + pages[i] + '</a></li>')
                }
            }
        })
    }
</script>
</html>